@import "../vars";
@import "../fonts";
@import "../mixins";
@import "../components/title.scss";

.resume {
    height: 100%;
    padding-top: 120px;
    
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            &::before{
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after{
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }
    &__item{
        position: relative;
        &::before{
            content: '';
            top: 69px;
            height: 1px;
            width: 40px;
            position: absolute;
            background-color: black;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body{
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon{
            position: absolute;
            top: 60px;
            left: 40px;
            @include before_circle;
        }
        &-location{
            font-size: 12px;
            line-height: 18px;
        }
    }


}