@import "../vars";
@import "../fonts";
@import "../mixins";
@import "../components/title.scss";

.skills {
    height: auto;
    &__title{
        position: relative;
        text-align: center;
        @include before_circle;
        &:before{
            content: '';
            top: -6px;
            left: 50%;
            transform: translateX(-50%) ;
            position: absolute;
        }
    }
    &__subtitle{
        text-align: center;
    }
    &__wrapper{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        margin-top: 50px;
        &-item{
            border: 1px solid black;
            padding: 30px;
            &-img{
                width: 100px;
                height: 100px;
            }
            &-name{
                width: 100%;
                text-align: left;
                padding: 20px 0;
            }
            &-descr{
                font-size: 12px;
                line-height: 18px;
            }
        }    
    }
    .scales__wrapper{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 100px; //remove
        .scale{
            padding-top: 120px;
            &__top{
                display: flex;
                align-items: center;
                justify-content:space-between;

                &-name{
                position: relative;
                padding-left: 10px;
                @include before_circle;
                &:before{
                    content: '';
                    top: -5px;
                    left: 0;
                    position: absolute;
                    }
                }
                &-perc{
                   text-align: right;
                }
            }
            &__parent{
                height: 20px;
                width: 100%;
                background-color: #acacac;
                border-radius: 5px;
                margin-top: 40px;
            }
            &__in{
                width: 70%;
                height: 100%;
                border-radius:5px;
                background-color: $main-color;
            }
        }
    }
}