<section class="aboutme">
   <div class="container aboutme-content">

        <div class="aboutme-content__photo"><img src="../img/meimg.jpeg" alt="me"></div>
    
    <div class="aboutme-content__descr">
        <div class="title title__fz16 aboutme-content__subtitle">about me</div>
        <div class="title title__fx48">My name is Mykhailo</div>
        <div class="divider"></div>
        <div class="title title__fz14">I am a web developer from the city of Chernivtsi, this is my portfolio to consolidate the knowledge of basic techniques in working on page layout and styling</div>
    </div>

        <div class="aboutme-content__skils">
            <div class="skill-item">
                <div class="title title__fz14" id="webdev"> Web-development</div>
                <div class="skill-item__text">The main stages of the process are web design, page layout, client-side programming</div>        
            </div>
            <div class="skill-item">
                <div class="title title__fz14" id="appdev"> Application Development</div>
                <div class="skill-item__text">Application development is the process of creating a computer program or a set of programs to perform the different tasks</div>        
            </div>
            <div class="skill-item">
                <div class="title title__fz14" id="uiux"> UI/UX Design</div>
                <div class="skill-item__text">Design is not only about looks and functionality, but also about competitiveness, intuitiveness, simplicity and convenience.</div>        
            </div>
            
        </div>


   </div>
</section>