<section class="contacts">
    <div class="container">
        <div class="contacts__wrapper">
            <div class="contacts__photo">
                <img src="../img/meimg.jpeg" alt="img">
            </div>
            <div class="contacts__descr">
                <div class="title title__fz16 aboutme-content__subtitle">Contacts</div>
                <div class="title title__fx48">Contact with me</div>   
                <div class="divider"></div> 
                
                <div class="title title__fz14 contacts__text">
                    Any way you like
                </div>
                <div class="contacts__social">
                    <a href="#" class="contacts__link">
                        <img src="../img/svg/facebook.svg" alt="img" style="width: 20px; height: 20px;">
                    </a>
                    <a href="#" class="contacts__link">
                        <img src="../img/svg/github.svg" alt="img"  style="width: 20px; height: 20px;">
                    </a>
                    <a href="#" class="contacts__link">
                        <img src="../img/svg/instagram.svg" alt="img"  style="width: 20px; height: 20px;">
                    </a>
                </div>
                <div class="title title__fz14 contacts__text">
                    You can leave yor message here
                </div>

                <form action="#" class="contacts__form">
                    <div class="contacts__input">
                        <input id="name" name="name" type="text">
                        <label for="name">Your name</label>
                    </div>
                    <div class="contacts__input">
                        <input id="email" name="email" type="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="contacts__textarea">
                        <textarea name="text" id="text"></textarea>
                        <label for="text">Your message</label>
                    </div>
                    <div>
                        <button class="contacts__btn btn">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>