<section class="resume">
    <div class="container">
        <h2 class="title title__fz16 title__section-title">Experience</h2>
        <div class="title title__fz36 title__section-subtitle">My foundation</div>
        <div class="divider"></div>
        <div class="resume__wrapper">
            <div class="resume__column">
                <h3 class="title title__fz20 resume__column-title">Education</h3>
                <ul>
                    <li>
                        <div class="resume__item">
                            <div class="resume__item-head">
                                <div class="resume__item-icon">
                                    <img src="../img/svg/university.svg" alt="university">
                                </div>
                                <h4 class="title title__fz14">CHTEI KNTEU</h4>
                                <div class="resume__item-location">Central Square, 7, Chernivtsi</div>
                            </div>
                            <div class="resume__item-body">
                                The Chernitsky Institute of Trade and Economics of the State Trade and Economic University is one of the most prestigious foundations in the real education of Bukovyna, which will work on modern European standards, preserving our education and traditions.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="resume__item">
                            <div class="resume__item-head">
                                <div class="resume__item-icon">
                                    <img src="../img/svg/comp.svg" alt="university">
                                </div>
                                <h4 class="title title__fz14">Udemy</h4>
                                <div class="resume__item-location">web development courses</div>
                            </div>
                            <div class="resume__item-body">
                                The world of web development is as wide as the internet itself. Much of our social and vocational lives play out on the internet, which prompts new industries aimed at creating, managing, and debugging the websites and applications that we increasingly rely on.
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="resume__column">
                <h3 class="title title__fz20 resume__column-title">Experience</h3>
                <ul>
                    <li>
                        <div class="resume__item">
                            <div class="resume__item-head">
                                <div class="resume__item-icon">
                                    <img src="../img/svg/fe.svg" alt="university">
                                </div>
                                <h4 class="title title__fz14">Freelance Front-End Developer</h4>
                                <div class="resume__item-location">home</div>
                            </div>
                            <div class="resume__item-body">

                                Becoming a freelance front-end developer is a potentially lucrative, exciting, challenging, and rewarding prospect. The job growth in the field signals its demand — but also the flexibility and ever-evolving nature of computer science and website development opens the doors to an exciting future for the industry.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="resume__item">
                            <div class="resume__item-head">
                                <div class="resume__item-icon">
                                    <img src="../img/svg/ux.svg" alt="university">
                                </div>
                                <h4 class="title title__fz14">UI/UX Designer</h4>
                                <div class="resume__item-location">home</div>
                            </div>
                            <div class="resume__item-body">
                                The UX/UI designer combines both roles - designing how the user will interact with the interface and what steps they need to require to do something (UX), as well as deciding what each of these steps will look like (UI).
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>