<aside class="sidepanel">
<a href="https://www.facebook.com/misha.zbigley/" class="sidepanel__link"><img src="../img/svg/facebook.svg" alt="facebook"></a>
<a href="https://www.instagram.com/liiamnissen/" class="sidepanel__link"><img src="../img/svg/instagram.svg" alt="instagram"></a>
<a href="https://github.com/zbihlei" class="sidepanel__link"><img src="../img/svg/github.svg" alt="github"></a>
<div class="sidepanel__divider"></div>
<div class="sidepanel__text"><span>social network</span></div>
</aside>

<div class="menu">
    <div class="menu__block">
        <div class="menu__close"><img src="../img/svg/cross.svg" alt="close"></div>
        <nav>
            <ul class="menu__list">
                <li class="menu__link"><a href="#">about me</a></li>
                <li class="menu__link"><a href="#">my experience</a></li>
                <li class="menu__link"><a href="#">my skills</a></li>
                <li class="menu__link"><a href="#">my works</a></li>
                <li class="menu__link"><a href="#">price-list</a></li>
                <li class="menu__link"><a href="#">contacts</a></li>
            </ul>
        </nav>
        <div class="menu__social">
            <a href="#"><img src="../img/svg/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="../img/svg/instagram.svg" alt="instagram"></a>
            <a href="#"><img src="../img/svg/github.svg" alt="github"></a>
        </div>
    </div>
    <div class="menu__overlay">
    </div>
</div>

<section class="promo">
    <div class="hamburger">
        <span></span>
        <span class="long"></span>
        <span></span>
    </div>
    
    <div class="container">
        <div class=" title title__fz16 promo__subtitle">My name is Mykhailo Zbihlei</div> 
        <h1 class="title title__fz48 promo__title">I'm web developer from Chernivtsi</h1> 
        <div class="promo__btns">
            <a href="#" class="promo__link btn">Portfolio</a>
            <a href="#" class="promo__link">About Me</a>
        </div>
    </div>
</section>