<section class="prices">
    <div class="container">
        <h2 class="title title__fz36 title__section-title">Price list</h2>
        <div class="divider"></div>
        <div class="prices__wrapper">

            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Landing-page</div>
                <div class="prices__item-price  title__fz14"> from <span class = "title title__fz16">300</span> $</div>
                <div class="prices__item-descr  title__fz14">Single page website for the presentation of goods and services</div>
            </div>
            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Сorporate website</div>
                <div class="prices__item-price  title__fz14"> from <span class = "title title__fz16">1000</span> $</div>
                <div class="prices__item-descr  title__fz14">Website for your business or company</div>
            </div>
            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Online store</div>
                <div class="prices__item-price  title__fz14"> from <span class = "title title__fz16">1500</span> $</div>
                <div class="prices__item-descr  title__fz14">Tool for your online sales</div>
            </div>
            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Web application</div>
                <div class="prices__item-price  title__fz14"> from <span class = "title title__fz16">2000</span> $</div>
                <div class="prices__item-descr  title__fz14">  Application inside the browser for better comfort</div>
            </div>
            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Android / IOS Application</div>
                <div class="prices__item-price  title__fz14"> from <span class = "title title__fz16">2200</span> $</div>
                <div class="prices__item-descr  title__fz14"> Application for smartphones on any OS</div>
            </div>
            <div class="prices__item">
                <div class="prices__item-name title title__fz16">Design</div>
                <div class="prices__item-price  title__fz14"><span class = "title title__fz16">Individually</span> </div>
                <div class="prices__item-descr  title__fz14">Create a design for your application / website</div>
            </div>


        </div>
    </div>
</section>