<section class="skills">
    <div class="container">
        <h2 class="title title__fz16 skills__title">Skills</h2>
        <div class="title title__fz36 skills__subtitle">What do i use at work</div>
        <div class="divider"></div>
        <div class="skills__wrapper">
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/html.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                        HTML5
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/css3.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    CSS3
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/js.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Java Script
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/jq.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    jQuery
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/react.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    React
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/node.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Node.js
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/redux.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Redux
                </div>
                <div class="skills__wrapper-item-descr">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque nam tempora illum dolore nemo. Aspernatur commodi totam ipsa quibusdam consectetur aut. Ad, illum pariatur qui possimus totam omnis sapiente amet.
                </div>
            </div>
        </div>
        <div class="scales__wrapper">
            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">100%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>
            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">100%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">100%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">100%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">100%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

        </div>
       

    </div>
</section>