<section class="skills">
    <div class="container">
        <h2 class="title title__fz16 title__section-title">Skills</h2>
        <div class="title title__fz36 title__section-subtitle">What I use at work</div>
        <div class="divider"></div>
        <div class="skills__wrapper">
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/html.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                        HTML5
                </div>
                <div class="skills__wrapper-item-descr">
                    HTML5 was created as a single markup language that could combine the syntactic norms of HTML and XHTML. It extends, improves, and streamlines document markup, and adds a single API for complex web applications. HTML5 has many new syntactic features.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/css3.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    CSS3
                </div>
                <div class="skills__wrapper-item-descr">
                    CSS is a style language that allows you to style almost any HTML tag on a page. By adding styles, you can create beautiful page designs. CSS3 differs from CSS only in version.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/js.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Java Script
                </div>
                <div class="skills__wrapper-item-descr">
                    JavaScript is a programming language that is used to write the frontend and backend parts of websites, as well as mobile applications. Often in texts and training materials, the name of the language is shortened to JS. This is a high-level programming language, that is, the code in it is understandable and well read.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/jq.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    jQuery
                </div>
                <div class="skills__wrapper-item-descr">
                 jQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website. jQuery takes a lot of common tasks that require many lines of JavaScript code to accomplish, and wraps them into methods that you can call with a single line of code.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/react.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    React
                </div>
                <div class="skills__wrapper-item-descr">
                React is a popular Javascript programming language library that is used to create web user interfaces. It has certain templates, which greatly simplifies and speeds up the process of frontend development. In simple terms, a React developer.
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/node.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Node.js
                </div>
                <div class="skills__wrapper-item-descr">
                Node. js is used as a functional app builder. Thanks to him, one programming language is enough for developing web applications, instead of several different ones for the front-end and back-end. We can say that he this environment is based on the principle of "JavaScript for everything".
                </div>
            </div>
            <div class="skills__wrapper-item">
                <div class="skills__wrapper-item-img">
                    <img src="../img/redux.png" alt="img">
                </div>
                <div class="skills__wrapper-item-name title title__fz16">
                    Redux
                </div>
                <div class="skills__wrapper-item-descr">
                    Redux is a tool for managing data state and UI in entity-heavy JavaScript applications. It is a JavaScript library. The name reads "Redax" and is made up of two words: reduce and flux.
                </div>
            </div>
        </div>
        <div class="scales__wrapper">
            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Website development</div>
                    <div class="scale__top-perc">90%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>
            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Application development</div>
                    <div class="scale__top-perc">85%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Working with data</div>
                    <div class="scale__top-perc">70%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Creativity</div>
                    <div class="scale__top-perc">75%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">UI Development</div>
                    <div class="scale__top-perc">90%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>
            <div class="scale">
                <div class="scale__top">
                    <div class="scale__top-name title title__fz16">Soft skills</div>
                    <div class="scale__top-perc">85%</div>
                </div>
                <div class="scale__parent">
                    <div class="scale__in"></div>
                </div>
            </div>

        </div>
       

    </div>
</section>