<section class="portfolio">
    <div class="container">
        <h2 class="title title__fz16 title__section-title">Works</h2>
        <div class="title title__fz36 title__section-subtitle">My works</div>
        <div class="divider"></div>
        <div class="portfolio__wrapper">
            <a href="#" class="portfolio__item"><!--<img src="" alt="img">-->1</a>
            <a href="#" class="portfolio__item"><!--<img src="" alt="img">-->2</a>
            <a href="#" class="portfolio__item"><!--<img src="" alt="img">-->3</a>
            <a href="#" class="portfolio__item vertical"><!--<img src="" alt="img">-->4</a>
            <a href="#" class="portfolio__item"><!--<img src="" alt="img">-->5</a>
            <a href="#" class="portfolio__item horizontal" ><!--<img src="" alt="img">-->6</a>
        </div>
    </div>
</section>