<section class="portfolio">
    <div class="container">
        <h2 class="title title__fz16 title__section-title">Works</h2>
        <div class="title title__fz36 title__section-subtitle">My works</div>
        <div class="divider"></div>
        <div class="portfolio__wrapper">
            <a href="#" class="portfolio__item"><img src="../img/work1.jpeg" alt="img"></a>
            <a href="#" class="portfolio__item"><img src="../img/work2.jpeg" alt="img"></a>
            <a href="#" class="portfolio__item"><img src="../img/work3.jpeg" alt="img"></a>
            <a href="#" class="portfolio__item vertical" ><img src="../img/work4.jpeg" alt="img"></a>
            <a href="#" class="portfolio__item"><img src="../img/work5.jpeg" alt="img"></a>
            <a href="#" class="portfolio__item horizontal" ><img src="../img/work6.jpeg" alt="img"></a>
        </div>
    </div>
</section>